

.my-badges-portlet .badge-item, .badges-gallery-portlet .badge-item {
	display: inline-block;
	text-align: center;
	margin: 5px 5px 5px 5px;
}

.my-badges-portlet .badge-item .title, .badges-gallery-portlet .badge-item .title {
	font-size: smaller;
	font-weight: bold
}

.my-badges-portlet .badge-item.masked .title, .badges-gallery-portlet .badge-item.masked .title {
	color: #a7a8aa;
}

.my-badges-portlet .badge-item img, .badges-gallery-portlet .badge-item img {
	width:  98px;
}

.badges-gallery-portlet .badge-item .description { 
	vertical-align: middle;
	line-height: 100%;
	font-size: larger;
	margin-left: 8em;
}

.badges-gallery-portlet .attributions { 
	text-align: right;
	width: 100%;
	font-size: xx-small;
}